.card-item {
  padding: 25px;
  margin: 25px;
  border: 0px;
  font-size: 2rem;
  height: 30em;
}

body {
  background: url('./images/white-waves.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
  width: 100%;
  font-size: 2rem;
}

.dropdown-item {
  font-size: 2rem;
}

.category-quote {
  font-size: 2rem;
}

.btn.btn-secondary {
  font-weight: 1000;
  font-size: 2rem;
  background-color: green;
}

.navbar-brand#title {
  font-size: 2rem;
}
