.card-item {
  padding: 25px;
  margin: 25px;
  border: 0px;
  font-size: 2rem;
}

body {
  background: url('./images/white-waves.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
  width: 100%;
  font-size: 2rem;
}
